.card {
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0px 0px 8px 0px #0000001a;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 95%;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.row-1 p {
    margin: 0;
    /* font-weight: bold; */
    color: #8D8D8D;
    font-size: 1rem;
}

.row-2 {
    margin-top: 10px;
}

.row-2 p {
    display: flex;
    align-items: flex-start;
    margin: 0;
    font-weight: 500;
    line-height: 102%;
    font-size: 1rem;
    color: #373737;
}

.row-2 span {
    margin-right: 10px;
}


.row-3 p {
    margin: 12px 0;
    font-size: 12px;
    color: #8D8D8D;
}

.row-3 span {
    margin-right: 10px;
    color: #8D8D8D;
    font-size: 0.85rem;
}


.icon {
    color: #555;
}

.icon1 {
    border: 1px solid #e6e7eb;
    padding: 1px 5px;
    border-radius: 3x;
}

.avatar {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.avatar-circle {
    width: 23px;
    height: 23px;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

.status-badge {
    width: 5px;
    height: 5px;
    background-color: #4caf50;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.status-badge.online {
    background-color: #4caf50;
}

.status-badge.offline {
    background-color: #f44336;
}

#NotDisplay {
    display: none;
}