.c-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 500;
    color: black;
    font-size: 1rem;
}

.c-1-1 {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: start;
    flex-wrap: nowrap;
    padding: 5px;
}

.c-1-2 {
    display: flex;
    flex-direction: row;
    width: 15%;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 5px;
}